.activity-data{
    background-color: white; 
}

.body_allcourse{
  background-image: url("C:\Users\anubrata\Downloads\sara2\src\img\back_yellow_3.jpg");
  background-size:cover;
}
.all_course_h2{
  font-family: Colonna MT;
  color: #0b3cc1;
}
